body {
    margin: 20px;
}

button {
    padding: 10px;
    width: 100%;
    font-size: 1em;
}

img {
    margin-top: 10px;
    -webkit-filter: sepia(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
	max-width: 100%;
	max-height: 250px;
}
